<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gallery_jwt_jpa.account.AccountMapper">
    <insert id="save">
<!--        INSERT INTO members (name, login_id, login_pw)-->
<!--        VALUES (#{name}, #{loginId}, #{loginPw})-->
        INSERT INTO members
        SET name = #{name},
        login_id = #{loginId},
        login_pw = #{loginPw}
    </insert>

    <select id="findByLoginId">
        SELECT id, login_pw
        FROM members
        WHERE login_id = #{loginId}
    </select>

<!--    로그인한 사용자 권한 가져오기-->
    <select id="findAllRolesByMemberId">
        SELECT role_name
        FROM members_roles
        WHERE member_id = #{memberID}
    </select>


</mapper>