<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gallery_jwt_jpa.cart.CartMapper">

    <!--    장바구니 추가하기 -->
    <insert id="save">
        INSERT INTO carts
        SET member_id = #{memberId},
        item_id = #{itemId}
    </insert>
    <!-- 장바구니 목록 보기 -->
    <select id="findAllWithItemByMemberId">
        SELECT b.id, b.item_id, a.name, a.price, a.img_path, a.discount_per
        FROM items a JOIN carts b
        ON a.id = b.item_id
        WHERE b.member_id = #{memberId}
    </select>

    <!--    장바구니 상품 삭제 -->
    <delete id="deleteByCartIdAndMemberId">
        DELETE FROM carts
        WHERE id = #{cartId} AND member_id = #{memberId}
    </delete>

<!--    장바구니 전체 지우기 -->
    <delete id="deleteByMemberId">
        DELETE FROM carts
        WHERE member_id = #{memberID}
    </delete>

</mapper>